<!-- Code copied and adapted from Bootstrap and the Boutique Ado project -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
         <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="mask-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Face Masks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mask-link">
                <a href="" class="dropdown-item">3D Masks</a>
                <a href="" class="dropdown-item">Standard Masks</a>
                <a href="" class="dropdown-item">All Face Masks</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="pet-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pet Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pet-products-link">
                <a href="" class="dropdown-item">Pet Bandanas</a>
                <a href="" class="dropdown-item">Pet Bow Ties</a>
                <a href="" class="dropdown-item">All Pet Products</a>
            </div>
        </li>
                <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="custom-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags and Custom Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="custom-products-link">
                <a href="" class="dropdown-item">Lavender Bags</a>
                <a href="" class="dropdown-item">Drawstring Bags</a>
                <a href="" class="dropdown-item">Custom Products</a>
            </div>
        </li>
    </ul>
</div>