<!-- Code copied and adapted from Bootstrap and the Boutique Ado project -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
         <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&diredction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=product_type&diredction=asc" class="dropdown-item ">By Product Type</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="mask-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Face Masks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mask-link">
                <a href="{% url 'products' %}?product_type=3d_face_masks" class="dropdown-item">3D Masks</a>
                <a href="{% url 'products' %}?product_type=simple_face_masks" class="dropdown-item">Simple Masks</a>
                <a href="{% url 'products' %}?product_type=3d_face_masks,simple_face_masks" class="dropdown-item">All Face Masks</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="pet-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pet Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pet-products-link">
                <a href="{% url 'products' %}?product_type=pet_bandanas" class="dropdown-item">Pet Bandanas</a>
                <a href="{% url 'products' %}?product_type=pet_bow_ties" class="dropdown-item">Pet Bow Ties</a>
                <a href="{% url 'products' %}?product_type=pet_bandanas,pet_bow_ties" class="dropdown-item">All Pet Products</a>
            </div>
        </li>
                <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="bags-and-custom-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags and Custom Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bags-and-custom-products-link">
                <a href="{% url 'products' %}?product_type=lavender_bags" class="dropdown-item">Lavender Bags</a>
                <a href="{% url 'products' %}?product_type=drawstring_bags" class="dropdown-item">Drawstring Bags</a>
                <a href="{% url 'products' %}?product_type=custom_products" class="dropdown-item">Custom Products</a>
            </div>
        </li>
    </ul>
</div>