{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="w-50 mb-1">
            <h2 class="logo-font m-4">Blog</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>

{% for b in blogs %}
<!-- Bootstrap card. Copied from https://getbootstrap.com/ -->
<div class="card text-center m-5">
  <div class="card-body">
    <h5 class="card-title">{{ b.title }}</h5>
    <p class="card-text">{{ b.content }}</p>
    <p class="card-text"><small class="text-muted">Added {{ b.date_posted }}</small></p>
  </div>
  
  {% if b.image %}
  <div class="text-center">
  <img class="card-img-bottom mb-4" src="{{ b.image.url }}" alt="Card image cap">
  </div>
  {% endif %}
</div>

{% endfor %}
{% endblock %}

