{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="w-50 mb-1">
            <h2 class="logo-font m-4">Blog</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>


{% for b in blogs %}
<!-- Bootstrap card. Copied and adapted from https://getbootstrap.com/ -->
<div class="card text-center m-5">
  <div class="card-body">
      <a href="{% url 'blog_detail' b.id %}">
    <h5 class="card-title">{{ b.title }}</h5></a>
    <p class="card-text">{{ b.content }}</p>
    <p class="card-text"><small class="text-muted">Added {{ b.date_posted }}</small></p>
  </div>
  
  {% if b.image %}
  <div class="text-center">
  <img class="card-img-bottom mb-4" src="{{ b.image.url }}" alt="Card image cap">
  </div>
  {% endif %}
</div>

{% if request.user.is_superuser %}            
<!-- Modal Code copied from Bootsrap -->
<!-- Button trigger modal -->
<p class="text-center">
    <small class="ml-2">
<a type="button" class="text-danger" data-toggle="modal" data-target="#delete-{{ b.id }}">
  Delete Post
</a> | 
<a href="{% url 'edit_blog' b.id %}">Edit Post</a>
</small>
</p>
<!-- Modal -->
<div class="modal fade" id="delete-{{ b.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteFaqModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Would you really like to delete this post?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-black" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="{% url 'delete_blog' b.id %}">Yes</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
{% if request.user.is_superuser %}
<div class="col text-center mt-5 mb-5">
    <a class="btn btn-black" href="{% url 'add_blog' %}">Add Post</a>
</div>
</div>
{% endif %}   
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- JQuery for modal from https://getbootstrap.com/ -->
        <script type="text/javascript">
            $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
            })
        </script>
{% endblock %}

