{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="w-50 mb-1">
            <h2 class="logo-font m-4">Downham and Finch</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

<!-- Bootstrap card. Copied from https://getbootstrap.com/ -->
<div class="card text-center m-5">
  <div class="card-body">
    <h6>{{ about.content }}</h6>
  </div>
</div>

{% if request.user.is_superuser %}            
<!-- Modal Code copied from Bootsrap -->
<!-- Button trigger modal -->
<p class="text-center">
    <small class="ml-2">
<a type="button" class="text-danger" data-toggle="modal" data-target="#delete-{{ about.id }}">
  Delete Content
</a>
</small>
</p>
<!-- Modal -->
<div class="modal fade" id="delete-{{ about.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteAboutModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalTitle">Delete Content</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Would you really like to delete this content?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-black" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="">Yes</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- JQuery for modal from https://getbootstrap.com/ -->
        <script type="text/javascript">
            $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
            })
        </script>

{% endblock %}