{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="w-50 mb-1">
            <h2 class="logo-font m-4">Downham and Finch</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

<!-- Bootstrap card. Copied from https://getbootstrap.com/ -->
<div class="card text-center m-5">
  <div class="card-body">
    <h6>{{ about.content }}</h6>
  </div>
</div>

{% if request.user.is_superuser %}            
<p class="text-center">
    <small class="ml-2">
<a href="{% url 'edit_about' about.id %}">Edit Content</a>
</small>
</p>

{% endif %}
{% endblock %}
