{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- This section copied and adapted from the Boutique Ado project -->
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Custom Products</h2>
            </div>
        </div>
    </div> 
        <form method="POST">
            <select name="product-select" id="product-select">
        {% for product in products %}
        <option value="{{product.id}}">{{ product.display_name }}</option>
        {% endfor %}
            </select>
        </form>      
        <form method="POST">
            <select name="fabric-select" id="fabric-select">
        {% for fabric in fabrics %}
        <option value="{{fabric.id}}">{{ fabric.display_name }}
            <img src="{{ fabric.image.url }}" alt="{{ fabric.name }}">
        </option>
        {% endfor %}
            </select>
        </form>    
        <form method = "POST" class="needs-validation" novalidate>
            {% csrf_token %}
  <div class="form-row">
    <div class="col-md-4 mb-3">
     <select class="custom-select">
         {% for fabric in fabrics %}
  <label selected>Choose Your Product</label>
  <option value="{{ fabric.id }}">{{ fabric.display_name }}</option>
  {% endfor %}
</select>
    </div>
    </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>

{% for fabric in fabrics %}
    <img class="card-img-top img-fluid" src="{{ fabric.image.url }}" alt="{{ fabric.name }}">
{% endfor %}
      {{ fabrics }}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    <script type="text/javascript">
    $('#sort-selector').change(function(){
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
        }
    })
    </script>
{% endblock %}